.color-one{background: #50c1b9 none repeat scroll 0 0;}
.color-two{background: #50c1b9 none repeat scroll 0 0;}
.color-three{background: #cddb28 none repeat scroll 0 0;}
.color-four{background: #7ab55c none repeat scroll 0 0;}