.color-one {
  background: #50c1b9 none repeat scroll 0 0; }

.color-two {
  background: #50c1b9 none repeat scroll 0 0; }

.color-three {
  background: #50c1b9 none repeat scroll 0 0; }

.color-four {
  background: #50c1b9 none repeat scroll 0 0; }

.color-five {
  background: #50c1b9 none repeat scroll 0 0; }

.color-six {
  background: #50c1b9 none repeat scroll 0 0; }

.color-seven {
  background: #50c1b9 none repeat scroll 0 0; }

.color-eight {
  background: #50c1b9 none repeat scroll 0 0; }

.single_why:hover i {
  background: #fff;
  color: #b3d82a; }

.single_why:hover {
  background: #b3d82a; }

.sing_link_img a:hover {
  color: #b3d82a; }

.project-list li a:hover {
  color: #b3d82a; }

.play-video {
  background: #50c1b9 none repeat scroll 0 0;
  border-radius: 500px;
  cursor: pointer;
  height: 100px;
  left: 51%;
  margin-left: -63px;
  position: absolute;
  transition: all 0.2s ease 0s;
  width: 100px; }

.video-container a:hover .play-video {
  background: #b3d82a;
  color: #fff; }

.topcontrol {
  background: #cddb28 none repeat scroll 0 0;
  border-radius: 5px;
  bottom: 5px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  height: 35px;
  line-height: 33px;
  opacity: 1;
  position: fixed;
  right: 5px;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: 35px; }

.topcontrol:hover {
  background: #50c1b9;
  color: #fff; }

.ccr-price-title {
  background: #50c1b9 none repeat scroll 0 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  height: 120px;
  padding: 20px 0 10px;
  text-align: center;
  text-transform: capitalize; }

.footer_social ul li {
  display: inline-block; }

.footer_social ul li a {
  background: #323f4c none repeat scroll 0 0;
  border: 1px solid #323f4c;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  margin: 4px;
  padding: 9px 12px;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: 40px; }

.footer_social ul li a:hover {
  color: #fff; }

.f_facebook:hover {
  background: #b3d82a;
  border: 1px solid #b3d82a; }

.f_twitter:hover {
  background: #b3d82a;
  box-shadow: 0 0 0 0px #50c1b9;
  border: 1px solid #b3d82a; }

.f_google:hover {
  background: #b3d82a;
  box-shadow: 0 0 0 0px #b3d82a;
  border: 1px solid #b3d82a; }

.f_linkedin:hover {
  background: #b3d82a;
  box-shadow: 0 0 0 0px #b3d82a;
  border: 1px solid #b3d82a; }

.f_youtube:hover {
  background: #b3d82a;
  box-shadow: 0 0 0 0px #b3d82a;
  border: 1px solid #b3d82a; }

.f_skype:hover {
  background: #b3d82a;
  box-shadow: 0 0 0 0px #b3d82a;
  border: 1px solid #b3d82a; }

.topcontrol {
  background: #50c1b9 none repeat scroll 0 0;
  border-radius: 5px;
  bottom: 5px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  height: 35px;
  line-height: 33px;
  opacity: 1;
  position: fixed;
  right: 5px;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: 35px; }

.topcontrol:hover {
  background: #b3d82a;
  color: #fff; }

.top-info-right li a i:hover {
  color: #b3d82a; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #50c1b9 !important;
  background-color: #fff; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #171717 !important;
  background-color: transparent; }

.menu-top li a:hover {
  color: #b3d82a !important; }

.navbar-default.menu-shrink {
  background: white none repeat scroll 0 0;
  padding: 10px 0;
  width: 100%;
  margin-top: 0px; }

.navbar-default.menu-shrink li a {
  color: rgba(0, 0, 0, 0.9) !important; }

.navbar-default.menu-shrink li a:hover {
  color: #b3d82a !important; }

.navbar-default .navbar-toggle {
  background: #fff none repeat scroll 0 0; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #2a80b9; }

h1,
h2,
h3,
h4 {
  font-family: Dosis, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #323f4c; }

h1,
h2 {
  text-transform: uppercase; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1em; }

.btn-contact-bg:hover,
.btn-contact-bg:focus {
  background: #50c1b9;
  border: 1px solid #50c1b9;
  color: #fff; }

.success {
  background: #fff none repeat scroll 0 0;
  color: #50c1b9;
  font-weight: 700;
  padding: 20px;
  text-align: center; }
