$body-bg: $white; // background color for <body>
$text-color: $gray-dark; // global text color for <body>
$link-color: $gray-dark; // global textual link color
$link-hover-color: $blue; // global hover link color
$link-hover-decoration: none; // global link decoration

